form{
    border: 1px solid black;
    width: 400px;
    text-align: center;
    margin-top:5%;
    background-color: rgb(81, 41, 85);
    font-family:  'Arial Narrow Bold', sans-serif;
    color: rgb(161, 169, 169);
    border-radius: 5%;
}
input:hover{
    background-color: rgb(220, 162, 204);
}
input{
    background-color: rgb(179, 124, 194);
}